.overlay { position: fixed; top: 0; left: 0; opacity: 0; height: 100%; z-index: -1; -webkit-transition: all 0.6s; transition: all 0.6s; min-height: 100%; min-width: 1024px; width: 100%; height: auto; }

.overlay.is-active { opacity: 1; z-index: 10; height: 100%; background-color: rgba(0, 0, 0, 0.5); }

.main { min-height: 300px; }

.main .dropzone { position: relative; display: block; width: 60%; height: 450px; margin: 10px auto; background-image: url("../../img/fond/sallebal.jpg"); background-size: 100% 100%; -webkit-transition: all 0.6s; transition: all 0.6s; border: 2px dashed transparent; }

.main .dropzone canvas > * { position: absolute; display: block; z-index: 5000; }

.main .dropzone .drop-item { cursor: move; border: 2px dashed transparent; }

.main .dropzone .drop-item:hover { border: 2px dashed #FF6F3F; }

.main .dropzone .dropzone-remove-item { position: absolute; bottom: 0; right: 0; display: block; width: 64px; height: 64px; background-color: rgba(255, 255, 255, 0.5); -webkit-transform: translateX(64px); transform: translateX(64px); -webkit-transition: all 0.4s; transition: all 0.4s; }

.main .dropzone .dropzone-remove-item .remove-item { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: block; width: 48px; height: 48px; background-image: url("../../img/delete.png"); margin: 0 auto; }

.main .dropzone .dropzone-remove-item.is-active { background-color: rgba(255, 255, 255, 0.8); -webkit-transform: translateX(0); transform: translateX(0); }

.main .dropzone .dropzone-remove-item.is-focus { background-color: rgba(255, 0, 0, 0.8); -webkit-transform: translateX(0); transform: translateX(0); }

.main .dropzone.is-focus { position: relative; border: 2px dashed aqua; z-index: 20; }

.resizer { background-color: rgba(0, 0, 0, 0.5); }

.ne-resizer, .no-resizer, .so-resizer, .se-resizer, .s-resizer, .n-resizer, .o-resizer, .e-resizer { background-color: #FF6F3F; }

.ne-resizer::before, .ne-resizer::after, .no-resizer::before, .no-resizer::after, .so-resizer::before, .so-resizer::after, .se-resizer::before, .se-resizer::after { background-color: #FF6F3F; }

.no-resizer { cursor: nwse-resize; }

.no-resizer::before { z-index: 10; position: absolute; top: -2px; left: -2px; content: ''; display: inline-block; width: 20%; height: 3px; }

.no-resizer::after { z-index: 10; position: absolute; top: -2px; left: -2px; content: ''; display: inline-block; width: 3px; height: 20%; }

.ne-resizer { cursor: ne-resize; }

.ne-resizer::before { z-index: 10; position: absolute; top: -2px; right: -2px; content: ''; display: inline-block; width: 20%; height: 3px; }

.ne-resizer::after { z-index: 10; position: absolute; top: -2px; right: -2px; content: ''; display: inline-block; width: 3px; height: 20%; }

.so-resizer { cursor: sw-resize; }

.so-resizer::before { z-index: 10; position: absolute; bottom: -2px; left: -2px; content: ''; display: inline-block; width: 20%; height: 3px; }

.so-resizer::after { z-index: 10; position: absolute; bottom: -2px; left: -2px; content: ''; display: inline-block; width: 3px; height: 20%; }

.se-resizer { cursor: se-resize; }

.se-resizer::before { z-index: 10; position: absolute; bottom: -2px; right: -2px; content: ''; display: inline-block; width: 20%; height: 3px; }

.se-resizer::after { z-index: 10; position: absolute; bottom: -2px; right: -2px; content: ''; display: inline-block; width: 3px; height: 20%; }

.n-resizer { cursor: n-resize; z-index: 10; position: absolute; left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 15px; height: 3px; }

.s-resizer { cursor: s-resize; z-index: 10; position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 15px; height: 3px; }

.e-resizer { cursor: e-resize; z-index: 10; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 3px; height: 15px; }

.o-resizer { cursor: w-resize; z-index: 10; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 3px; height: 15px; }

.c-resizer { cursor: move; }

.c-resizer::before { z-index: 10; content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: inline-block; width: 3px; height: 20px; background-color: white; }

.c-resizer::after { z-index: 10; content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: inline-block; width: 20px; height: 3px; background-color: white; }
